<!DOCTYPE html>
<html>
<head>
    <%
    include("../pages/common/header.html"){}
    %>
    <link rel="stylesheet" href="${ctxPath}/front/css/article/share_style1_24.css"><!-- 分享图标 -->
</head>
<body class="single" style="">

<div class="header">
    <!-- 顶部一级菜单栏 -->
    <%
    include("../pages/common/topMenu.html"){}
    %>
</div>
<div class="wrap">
    <!-- 顶部固定菜单栏 -->
    <%
    include("../pages/common/topPublishBorder.html"){}
    %>
    <div class="tounavad">
    </div>

    <div class="wrapper">
        <div class="softlist left publicborder">
            <ul class="softli">

                <%
                    for(resource in resourceDataList){
                %>
                    <li class="publicborder">
                        <a href="#" target="_blank" title="${resource.title}">
                            <img src="${resource.picture}" alt="${resource.title}">
                        </a>
                        <h2 class="layui-elip">
                            <a href="#" target="_blank" title="${resource.title}">
                                <% if(strutil.length(resource.title)<=20){
                                        print(resource.title);
                                    }else{
                                        print(strutil.subStringTo(resource.title,0,20)+"......");
                                    }%>
                            </a>
                        </h2>
                        <p>
                            <% if(strutil.length(resource.note)<=20){
                                print(resource.note);
                            }else{
                                print(strutil.subStringTo(resource.note,0,20)+"......");
                            }%>
                        </p>
                        <div class="info">
                            <span class="time"><i class="iconfont icon-shijian"></i>${resource.resourceDate}</span>
                            <span class="source"><i class="iconfont icon-laiyuan1"></i><a href="#">${resource.categoryName}</a></span>
                        </div>
                    </li>
                <%
                    }
                %>

                <!--<li class="publicborder">
                    <a href="#" target="_blank" title="绝地求生稳定插件2.5版本">
                        <img src="/front/images/category/1-1P206230543A6-lp.jpg" alt="绝地求生稳定插件2.5版本">
                    </a>
                    <h2 class="layui-elip">
                        <a href="#" target="_blank" title="绝地求生稳定插件2.5版本">绝地求生稳定插件2.5版本 ...</a>
                    </h2>
                    <p>
                        功能说明 主播模式：开镜微抖一个点 终极模式：开镜不抖一个点 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2018/02/07</span>
                        <span class="source"><i class="iconfont icon-laiyuan1"></i><a href="#">游戏相关</a></span>
                    </div>
                </li>


                <li class="publicborder"><a href="#html/3793.html" target="_blank" title="绝地求生AK吃鸡画质补丁v1.1">
                    <img src="/front/images/category/1-1P204230252207-lp.jpg" alt="绝地求生AK吃鸡画质补丁v1.1"></a>
                    <h2 class="layui-elip"><a href="#html/3793.html" target="_blank"
                                              title="绝地求生AK吃鸡画质补丁v1.1">绝地求生AK吃鸡画质补丁v1.1 ...</a></h2>
                    <p>
                        ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2018/02/05</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3794.html" target="_blank"
                                            title="绝地求生黑木耳吃鸡助手破解版：无后、去草、零秒嗑药等功能"><img
                        src="/front/images/category/1-1P20423164QR-lp.jpg"
                        alt="绝地求生黑木耳吃鸡助手破解版：无后、去草、零秒嗑药等功能"></a>
                    <h2 class="layui-elip"><a href="#html/3794.html" target="_blank"
                                              title="绝地求生黑木耳吃鸡助手破解版：无后、去草、零秒嗑药等功能">绝地求生黑木耳吃鸡助手破解版：无 ...</a></h2>
                    <p>
                        ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2018/02/05</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3783.html" target="_blank"
                                            title="CF28号韩服加速透视爬墙透视手游脚本 带视频教程"><img
                        src="/front/images/category/1-1P12P11T40-L.jpg"
                        alt="CF28号韩服加速透视爬墙透视手游脚本 带视频教程"></a>
                    <h2 class="layui-elip"><a href="#html/3783.html" target="_blank"
                                              title="CF28号韩服加速透视爬墙透视手游脚本 带视频教程">CF28号韩服加速透视爬墙透视手游脚 ...</a></h2>
                    <p>
                        ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2018/01/28</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3782.html" target="_blank"
                                            title="CFdiy28号多功能方框透视自瞄飞天免费绿色辅助 带视频教程"><img
                        src="/front/images/category/1517072758480550-lp.jpg"
                        alt="CFdiy28号多功能方框透视自瞄飞天免费绿色辅助 带视频教程"></a>
                    <h2 class="layui-elip"><a href="#html/3782.html" target="_blank"
                                              title="CFdiy28号多功能方框透视自瞄飞天免费绿色辅助 带视频教程">CFdiy28号多功能方框透视自瞄飞天 ...</a></h2>
                    <p>
                        ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2018/01/28</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3781.html" target="_blank"
                                            title="[未测试]CF人物高亮REZ透视无视检测"><img
                        src="/front/images/category/1517072437632664-lp.jpg"
                        alt="[未测试]CF人物高亮REZ透视无视检测"></a>
                    <h2 class="layui-elip"><a href="#html/3781.html" target="_blank"
                                              title="[未测试]CF人物高亮REZ透视无视检测">[未测试]CF人物高亮REZ透视无视检 ...</a></h2>
                    <p>
                        ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2018/01/28</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3774.html" target="_blank"
                                            title="万能压枪神器（适合吃鸡、荒野行动、终结者、CF,使命等）FPS游戏"><img
                        src="/front/images/category/1-1P1232210555W.gif"
                        alt="万能压枪神器（适合吃鸡、荒野行动、终结者、CF,使命等）FPS游戏"></a>
                    <h2 class="layui-elip"><a href="#html/3774.html" target="_blank"
                                              title="万能压枪神器（适合吃鸡、荒野行动、终结者、CF,使命等）FPS游戏">万能压枪神器（适合吃鸡、荒野行动 ...</a></h2>
                    <p>
                        本软件不是外挂不是外挂，不修改任何游戏文件，也不读取游戏数据 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2018/01/24</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3756.html" target="_blank"
                                            title="CF装备助手V2.9：一键领取CF活动"><img
                        src="/front/images/category/1515915834815155-lp.jpg"
                        alt="CF装备助手V2.9：一键领取CF活动"></a>
                    <h2 class="layui-elip"><a href="#html/3756.html" target="_blank"
                                              title="CF装备助手V2.9：一键领取CF活动">CF装备助手V2.9：一键领取CF活动 ...</a></h2>
                    <p>
                        CF装备助手V2.9：一键领取CF活动 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2018/01/14</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3627.html" target="_blank"
                                            title="最新海豚加速器破解版"><img
                        src="/front/images/category/1-1G10P0162B11-lp.jpg"
                        alt="最新海豚加速器破解版"></a>
                    <h2 class="layui-elip"><a href="#html/3627.html" target="_blank"
                                              title="最新海豚加速器破解版">最新海豚加速器破解版 ...</a></h2>
                    <p>
                        海豚今天更新了，之前的全部GG，一共两款，一款是老版本，一款是 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2017/12/31</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3739.html" target="_blank"
                                            title="QQ飞车手游GG修改器脚本：无限氮气、无限加速"><img
                        src="/front/images/category/1_122Z92912G01.jpg"
                        alt="QQ飞车手游GG修改器脚本：无限氮气、无限加速"></a>
                    <h2 class="layui-elip"><a href="#html/3739.html" target="_blank"
                                              title="QQ飞车手游GG修改器脚本：无限氮气、无限加速">QQ飞车手游GG修改器脚本：无限氮气 ...</a></h2>
                    <p>
                        QQ飞车手游GG修改器脚本：无限氮气、无限加速 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2017/12/29</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3720.html" target="_blank"
                                            title="吃鸡助手，绝地求生多功能过检测版"><img
                        src="/front/images/category/1514165369846835-lp.png"
                        alt="吃鸡助手，绝地求生多功能过检测版"></a>
                    <h2 class="layui-elip"><a href="#html/3720.html" target="_blank"
                                              title="吃鸡助手，绝地求生多功能过检测版">吃鸡助手，绝地求生多功能过检测版 ...</a></h2>
                    <p>
                        不要说 25 ，不要说Ban，人工谁都逃不掉。自己注意。 工具下有说 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2017/12/25</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3719.html" target="_blank"
                                            title="腾讯网游加速器独立版免费使用，需要体验资格"><img
                        src="/front/images/category/1514124103316459-lp.jpg"
                        alt="腾讯网游加速器独立版免费使用，需要体验资格"></a>
                    <h2 class="layui-elip"><a href="#html/3719.html" target="_blank"
                                              title="腾讯网游加速器独立版免费使用，需要体验资格">腾讯网游加速器独立版免费使用，需 ...</a></h2>
                    <p>
                        腾讯网游加速器独立版无需安装电脑管家即可免费使用，需要体验资 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2017/12/25</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3691.html" target="_blank"
                                            title="腾讯地求生战场助手内测版，多项辅助助力吃鸡"><img
                        src="/front/images/category/1512567752107453-lp.jpg"
                        alt="腾讯地求生战场助手内测版，多项辅助助力吃鸡"></a>
                    <h2 class="layui-elip"><a href="#html/3691.html" target="_blank"
                                              title="腾讯地求生战场助手内测版，多项辅助助力吃鸡">腾讯地求生战场助手内测版，多项辅 ...</a></h2>
                    <p>
                        1、地图辅助 行中飞行轨迹标注，可选择高级装备降落点降落，快速 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2017/12/07</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3663.html" target="_blank"
                                            title="11月25日绝地求生吃鸡13件套"><img
                        src="/front/images/category/1-1G125225K10-L.jpg"
                        alt="11月25日绝地求生吃鸡13件套"></a>
                    <h2 class="layui-elip"><a href="#html/3663.html" target="_blank"
                                              title="11月25日绝地求生吃鸡13件套">11月25日绝地求生吃鸡13件套 ...</a></h2>
                    <p>
                        使用说明： 替换路径：\Steam\steamapps\common\PUBG\TslGame\Co ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2017/11/25</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3526.html" target="_blank"
                                            title="一款单纯的CF活动助手，不含杂质"><img
                        src="/front/images/category/1-1FZ1225A54M-lp.png"
                        alt="一款单纯的CF活动助手，不含杂质"></a>
                    <h2 class="layui-elip"><a href="#html/3526.html" target="_blank"
                                              title="一款单纯的CF活动助手，不含杂质">一款单纯的CF活动助手，不含杂质 ...</a></h2>
                    <p>
                        功能介绍： 1、后台长期更新活动，支持查看最新CF活动！ 2、自动 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2017/09/02</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3511.html" target="_blank"
                                            title="生死狙击爱尚辅助V8.2破解版"><img
                        src="/front/images/category/1-1FRG63423X0-lp.jpg"
                        alt="生死狙击爱尚辅助V8.2破解版"></a>
                    <h2 class="layui-elip"><a href="#html/3511.html" target="_blank"
                                              title="生死狙击爱尚辅助V8.2破解版">生死狙击爱尚辅助V8.2破解版 ...</a></h2>
                    <p>
                        破解VIP功能，去除软件恶心的捆绑安装。 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2017/08/27</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3369.html" target="_blank"
                                            title="重磅福利：任天堂3ds游戏模拟器+102款游戏大汇总"><img
                        src="/front/images/category/1-1F52F00521H0-lp.jpg"
                        alt="重磅福利：任天堂3ds游戏模拟器+102款游戏大汇总"></a>
                    <h2 class="layui-elip"><a href="#html/3369.html" target="_blank"
                                              title="重磅福利：任天堂3ds游戏模拟器+102款游戏大汇总">重磅福利：任天堂3ds游戏模拟器+10 ...</a></h2>
                    <p>
                        任天堂3DS（ 日文：ニンテンドー3DS），是任天堂最初于2011年推 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2017/05/27</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3357.html" target="_blank"
                                            title="CF战火单板方框破解版：测试稳"><img
                        src="/front/images/category/1-1F522123U5636-lp.jpg"
                        alt="CF战火单板方框破解版：测试稳"></a>
                    <h2 class="layui-elip"><a href="#html/3357.html" target="_blank"
                                              title="CF战火单板方框破解版：测试稳">CF战火单板方框破解版：测试稳 ...</a></h2>
                    <p>
                        CF战火单板方框破解版：测试稳 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2017/05/22</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>
                <li class="publicborder"><a href="#html/3348.html" target="_blank"
                                            title="QQ飞车咪沫卡商场道具辅助"><img
                        src="/front/images/category/1-1F522114Kb94-lp.jpg" alt="QQ飞车咪沫卡商场道具辅助"></a>
                    <h2 class="layui-elip"><a href="#html/3348.html" target="_blank"
                                              title="QQ飞车咪沫卡商场道具辅助">QQ飞车咪沫卡商场道具辅助 ...</a></h2>
                    <p>
                        作用：比如飞碟很多人不熟悉，转弯时候不减速度，那么卡车自己熟 ...
                    </p>
                    <div class="info">
                        <span class="time"><i class="iconfont icon-shijian"></i>2017/05/22</span><span class="source"><i
                            class="iconfont icon-laiyuan1"></i><a
                            href="#">游戏相关</a></span>
                    </div>
                </li>-->

            </ul>
            <div class="fenyes">
                <div class="page">
                    <li>首页</li>
                    <li class="thisclass">1</li>
                    <li><a href="#25_2.html">2</a></li>
                    <li><a href="#25_3.html">3</a></li>
                    <li><a href="#25_4.html">4</a></li>
                    <li><a href="#25_5.html">5</a></li>
                    <li><a href="#25_6.html">6</a></li>
                    <li><a href="#25_7.html">7</a></li>
                    <li><a href="#25_2.html">下一页</a></li>
                    <li><a href="#25_10.html">末页</a></li>
                    <li><span class="pageinfo">共 <strong>10</strong>页<strong>191</strong>条</span></li>

                </div>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li class="sb_list">
                    <div class="right_con post_right_con">
                        <div class="hotnews_list">
                            <div class="hn_title">
                                随机推荐
                            </div>
                            <ul class="ulcl">
                                <li class="list_pic">
                                    <a href="#html/2188.html" target="_blank"
                                       class="hn_img">
                                        <img src="/front/images/category/210015NW-0-lp.jpg"
                                             alt="LOLS7冬季地图包抢先体验 需要的"></a>
                                    <a title="LOLS7冬季地图包抢先体验 需要的下载" target="_blank"
                                       href="#html/2188.html" class="list_title">LOLS7冬季地图包抢先体验
                                        需要的</a></li>
                                <li class="list_pic">
                                    <a href="#html/2516.html" target="_blank"
                                       class="hn_img">
                                        <img src="/front/images/category/1-1F10921195Q49-lp.jpg"
                                             alt="LOL美化助手：UI美化、地图美化"></a>
                                    <a title="LOL美化助手：UI美化、地图美化、小兵美化、成就美化、针眼美化" target="_blank"
                                       href="#html/2516.html" class="list_title">LOL美化助手：UI美化、地图美化</a>
                                </li>
                                <li class="hn_li">
                                    <a title="QQ飞车手游GG修改器脚本：无限氮气、无限加速" target="_blank"
                                       href="#html/3739.html">QQ飞车手游GG修改器脚本：无限氮气、无限加速</a>
                                </li>
                                <li class="hn_li">
                                    <a title="最新一键CF福利活动装备领取软件_领取N件装备" target="_blank"
                                       href="#html/1100.html">最新一键CF福利活动装备领取软件_领取N件装备</a>
                                </li>
                                <li class="hn_li">
                                    <a title="LOL花锦一键换肤工具v3.5 支持CN6.15全特效" target="_blank"
                                       href="#html/1234.html">LOL花锦一键换肤工具v3.5
                                        支持CN6.15全特效</a></li>
                                <li class="hn_li">
                                    <a title="LOL天神辅助V7.5 切牌/范围/喊话/人物大小/视距/连招" target="_blank"
                                       href="#html/1460.html">LOL天神辅助V7.5
                                        切牌/范围/喊话/人物大小/视距/连招</a></li>
                                <li class="hn_li">
                                    <a title="LOL换肤大师国服过检测版(支持6.19全特效)" target="_blank"
                                       href="#html/1461.html">LOL换肤大师国服过检测版(支持6.19全特效)</a>
                                </li>
                                <li class="hn_li">
                                    <a title="LOL显CD/血量/攻击范围/补刀提示/按键换肤DLL(绿色无毒)" target="_blank"
                                       href="#html/1237.html">LOL显CD/血量/攻击范围/补刀提示/按键换肤DLL(绿色无毒)</a>
                                </li>
                                <li class="hn_li">
                                    <a title="某宝上卖的迅游加速器破解版(亲测可用免登录)" target="_blank"
                                       href="#html/1132.html">某宝上卖的迅游加速器破解版(亲测可用免登录)</a>
                                </li>
                                <li class="hn_li">
                                    <a title="CF活动助手V2.5.3_一键领取大量CF装备【持续更新页】" target="_blank"
                                       href="#html/1225.html">CF活动助手V2.5.3_一键领取大量CF装备【持续更新页】</a>
                                </li>
                                <li class="hn_li">
                                    <a title="LOLRiotBoxv3.2 没有你想不到的功能" target="_blank"
                                       href="#html/1451.html">LOLRiotBoxv3.2
                                        没有你想不到的功能</a></li>
                                <li class="hn_li">
                                    <a title="LOLDragon游戏助手3.2 连招/换肤/美化/补刀提示" target="_blank"
                                       href="#html/1047.html">LOLDragon游戏助手3.2
                                        连招/换肤/美化/补刀提示</a></li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="sb_list">
                    <div class="bx">
                        <script src="/front/images/category/ad_js.php"
                                language="javascript"></script>
                    </div>
                </li>
                <li class="sb_list">
                    <div class="right_con post_right_con right_remen">
                        <div class="hn_title">
                            热门排行
                        </div>
                        <div class="right_remen-list">
                            <ul>
                                <li>
                                    <i style="background:#FA4E57;">1</i>
                                    <a href="#html/3627.html" target="_blank"
                                       title="最新海豚加速器破解版" class="g-rank-name">最新海豚加速器破解版</a>
                                </li>
                                <li>
                                    <i style="background:#FA4E57;">2</i>
                                    <a href="#html/1313.html" target="_blank"
                                       title="LOL1397刷金币助手 满级帐号百分百不封号" class="g-rank-name">LOL1397刷金币助手 满级帐号百分百不</a>
                                </li>
                                <li>
                                    <i style="background:#FA4E57;">3</i>
                                    <a href="#html/3739.html" target="_blank"
                                       title="QQ飞车手游GG修改器脚本：无限氮气、无限加速" class="g-rank-name">QQ飞车手游GG修改器脚本：无限氮气、</a>
                                </li>

                                <li>
                                    <i style="background:#999">4</i>
                                    <a href="https://www.krnet.cc/kankan/dianying/html/1240.html" target="_blank"
                                       title="《东京喰种》三季全集百度网盘资源打包" class="g-rank-name">《东京喰种》三季全集百度网盘资源打</a>
                                </li>
                                <li>
                                    <i style="background:#999">5</i>
                                    <a href="https://www.krnet.cc/gonggao/html/1615.html" target="_blank"
                                       title="酷软资源网自用资讯模板免费分享" class="g-rank-name"><font
                                            color="#FF0000">酷软资源网自用资讯模板免费分享</font></a>
                                </li>
                                <li>
                                    <i style="background:#999">6</i>
                                    <a href="https://www.krnet.cc/news/redian/html/3143.html" target="_blank"
                                       title="QQ无故掉级：请立即停止使用QQ代挂服务 否则得不偿失" class="g-rank-name">QQ无故掉级：请立即停止使用QQ代挂服</a>
                                </li>
                                <li>
                                    <i style="background:#999">7</i>
                                    <a href="https://www.krnet.cc/soft/yingyong/html/663.html" target="_blank"
                                       title="屏幕录像专家官网最新版+注册机" class="g-rank-name">屏幕录像专家官网最新版+注册机</a>
                                </li>
                                <li>
                                    <i style="background:#999">8</i>
                                    <a href="https://www.krnet.cc/yuanma/wangzhan/html/2670.html" target="_blank"
                                       title="QQ娱乐网网站源码织梦程序仿小刀娱乐网小k娱乐网样式 原创" class="g-rank-name">QQ娱乐网网站源码织梦程序仿小刀娱乐</a>
                                </li>
                                <li>
                                    <i style="background:#999">9</i>
                                    <a href="https://www.krnet.cc/soft/anzhuo/html/2441.html" target="_blank"
                                       title="酷软资源网手机版APP发布 简单好用" class="g-rank-name">酷软资源网手机版APP发布 简单好用</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>

            </ul>
            <ul id="crf1">
                <li class="sb_list">
                    <div class="bx">
                        <script src="/front/images/category/ad_js(1).php"
                                language="javascript"></script>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="footer">
    <!-- footer公共内容 -->
    <%
    include("../pages/common/footer.html"){}
    %>
</div>
<script type="text/javascript">
    $(function () {
        $("img.lazy").lazyload({
            effect: "fadeIn"
        });
    });
</script>
<script src="${ctxPath}/plugins/layui/layui.js"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;
    });

</script>

<!-- 右侧导航栏 -->
<%
include("../pages/common/navigationbar.html"){}
%>
</body>
</html>